{% extends "layout.html" %}
{% block title %}
  {% if action == "edit" %}
    Editing
  {% endif %}
  {{ e.stroke }} ({{ e.word }}) - StenoWiki
{% endblock %}
{% block content %}
  <h1>
    {% if action == "edit" %}
      {% if is_default %}
        Creating
      {% else %}
        Editing
      {% endif %}
    {% endif %}
    {% if action == "edit" %}
        <a href="{{ url_for("stroke", value=e.stroke) }}">{% if is_default %}{{ e.stroke }}{% else %}{{ sound_html }}{% endif %}</a>
    {% else %}
        {% if is_default %}{{ e.stroke }}{% else %}{{ sound_html }}{% endif %}
    {% endif %}
    (<a href="{{ url_for("word", value=e.word) }}">{{ e.word }}</a>)
    {% if action != "edit" %}
    <sup><a href="?action=edit">Edit</a></sup>
    {% endif %}
  </h1>
  {% if action == "edit" %}
    <form method="post" action="">
      <dl class="forms">
        {{ render_field(form.sound) }}
        {{ render_field(form.content) }}
        {{ render_field(form.is_brief) }}
      </dl>
      <input type="submit" value="Submit">
    </form>
    <p>
      By clicking the "Submit" button, you irrevocably agree to release your contribution under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>, with the understanding that a hyperlink or URL is sufficient for CC BY-SA 4.0 attribution.
    </p>
    <p>
      <strong>How to edit</strong>:  The phonetic sounding is a space-separated list of phonetic
      sounds which combine together to form the stroke in question.  For
      example, <code>j u f t</code> phonetically sounds the stroke for SKWRUFT.
      The full syntax is:
    </p>
    <pre>sound ::=
    | "-" # disambiguating hyphen
    | "*" # the asterisk
    # An exclamation mark indicates a misstroke.  You
    # can explicitly specify a stroke for a phoneme the
    # system doesn't understand with a colon.
    | ["!"] phoneme [ ":" stroke ]
    # square brackets can be used to show inversions
    | "[" | "]"
    </pre>
    <p>
      Eventually, I'll make a nice JavaScript widget which you can use to put together
      phonetic soundings, but for now, take a look at existing samples to see what
      works.  Here is the full list of phonemes which we support natively:
      {% for phoneme in phonemes %}
        <code title="{{ phoneme[1] }}">{{ phoneme[0] }}</code>
      {% endfor %}
      (Note: it's not necessary to include the hyphen if a phoneme is unambiguously
      on the right side, using the same rules as steno strokes.  Also, the asterisked
      vowel phonemes are a hack to help get the asterisk in the right position when a vowel
      chord extends over the asterisk key.)
    </p>
    <p>
    The description box takes <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>, but with two enhancements: you can link to strokes using a double curly brace (<code>{{ '{{HAT}}' }}</code>) and words using double square brackets (<code>[[hat]]</code>).
    </p>
  {% else %}
    {% if is_default %}
      <div>
        There is no entry for {{ e.stroke }}.  You can <a
          href="?action=edit">create one</a>.
      </div>
    {% else %}
      <div>{{ e.content | markdown }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
