{% extends "layout.html" %}
{% block title %}
{{ word }} - StenoWiki
{% endblock %}
{% block content %}
<h1>{{ word }}</h1>
<table class="word-strokes">
{% for e in es %}
  <tr>
    <th><a href="{{ url_for("stroke", value=e.stroke) }}">{{ e.sound | sound }}</a></th>
    <td>{% if e.content %}{{ e.content | markdown }}{% else %}<em>(empty)</em>{% endif %}</td>
    <td class="edit"><a href="{{ url_for("stroke", value=e.stroke) }}?action=edit">edit</a></td>
  </tr>
{% endfor %}
{% for e in other_entries %}
  <tr>
    <th><a href="{{ url_for("stroke", value=e.stroke) }}?action=edit">{{ e.sound | sound }}</a></th>
    <td><em>(default entry)</em></td>
    <td class="edit"><a href="{{ url_for("stroke", value=e.stroke) }}?action=edit">edit</a></td>
  </tr>
{% endfor %}
</table>
<!--
<form method='get' action='{{ url_for("add_stroke") }}'>
  <p>Add a stroke: <input type='text' name='stroke'><input type='submit' value='Go!'></p>
  <input type='hidden' name='word' value='{{ word }}' />
</form>
-->
{% endblock %}
